*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.header{
  padding: 10px;
  border: 2px solid;
  align-items: center;
  background-color: black;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logo{
  /* margin-left:1.5em; */
  text-transform: capitalize;
  font-size: 1.5em;
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
  color: white;
}
.list{
  display: flex;
  list-style: none;
}
.list-item{
  display: inline-block;
}
.link{
  display: block;
  padding: 0.7em;
  text-transform: uppercase;
  font-family: serif;
  font-weight: 600;
  color: white;
}
.btn{
  /* margin-right: 1.5em; */
  padding: 0.5em 1.2em;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  background-color: inherit;
}